/* Projects.css */

.portfolio-projects {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  padding: 20px;
}

.portfolio-projects h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #333;
  text-align: left;
}

.project {
  margin-bottom: 1.5rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  transition: transform 0.2s, box-shadow 0.2s;
}

.project h3 {
  text-align: left;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #0073e6;
}

.project h3 a {
  text-decoration: none;
  color: black;
}

.project h3 a::after {
  content: " ⚭";
  color: #aeaeae;
  opacity: 0.5;
}

.project h3 a:hover {
  text-decoration: underline;
}

.project p {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
  text-align: left;
}

.project p a {
  color: #0073e6;
  text-decoration: none;
}

.project p a:hover {
  text-decoration: underline;
}


