.portfolio-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #282c34;
  color: white;
  border-radius: 8px;
}

.portfolio-header img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.hugging-face-link img {
  width: 17px;
  height: 18px;
}

.header-text {
  text-align: center;
  margin-bottom: 20px;
}

.header-text h1 {
  margin: 0;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.header-text p {
  margin: 5px 0 20px;
  font-size: 1em;
  color: #ccc;
}

.header-links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
  width: 100%;
  justify-items: center;
}

.header-links a {
  color: white;
  text-decoration: none;
  font-size: 1em;
  display: flex;
  align-items: center;
  gap: 5px;
}

.header-links a:hover {
  text-decoration: underline;
}

.header-links a svg {
  font-size: 1.2em;
}

@media (min-width: 768px) {
  .portfolio-header {
    flex-direction: row;
    justify-content: left;
    text-align: left;
  }

  .portfolio-header img {
    margin-bottom: 0;
  }

  .header-text {
    text-align: left;
    margin-bottom: 0;
    margin-left: 20px;
  }

  .header-links {
    grid-template-columns: auto auto auto auto;
    justify-items: start;
    gap: 15px;
  }

  .header-text h1 {
    font-size: 2em;
  }
}

@media (max-width: 768px) {
  .header-text {
    text-align: center !important;
  }
}